@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f0f0f0;
    --text-color: #333;
    --primary-color: #007bff;
  }

  .dark {
    --background: #333;
    --text-color: #fff;
    --primary-color: #ff9900;
  }
}

@layer base {
  .react-multi-carousel-dot-list {
    padding-top: 10px;
  }
}

@layer components {
  .product {
  }

  .product-image {
    width: 100%;
    height: 100%;
  }

  .group:hover .product-image {
    transform: scale(1.1);
  }
}
@layer components {
  .react-multi-carousel-dot button {
    @apply bg-red-500 text-white;
  }
}

*:focus {
  @apply outline-none;
}

.hidden-on-scroll {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
}
