.wrapper .control-arrow {
  display: none;
}

.wrapper .carousel-status {
  display: none;
}

.wrapper .control-dots .dot {
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background-color: #e3e6eb;
}

.wrapper .control-dots .dot.selected {
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #8b8b8b;
  border-radius: 100%;
}

.home-carousal .control-dots {
  display: none;
}

.home-carousal .carousel-status {
  display: none;
}

.home-carousal .home-carousal .carousel .control-arrow {
  display: none;
}

@media screen and (min-width: 1020px) {
  .carousel.carousel-slider .control-arrow {
    padding: 10px;
    box-shadow: 0 4px 16px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0;
    top: 45%;
    right: 10px;
    overflow: hidden;
    opacity: 1;
    z-index: 8;
    text-decoration: none;
    position: absolute;
    opacity: 100;
  }
}

@media screen and (max-width: 1020px) {
  .carousel.carousel-slider .control-arrow.control-next {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  .carousel.carousel-slider .control-arrow.control-prev {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: #fff;
    cursor: pointer;
    top: 45%;
    overflow: hidden;
    opacity: 1;
    z-index: 8;
    left: 16px;
    position: absolute;
    opacity: 60%;
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 1020px) {
  .carousel.carousel-slider .control-arrow:hover {
    background-color: #fff;
  }
}

@media screen and (min-width: 1020px) {
  .home-carousal .carousel .control-next.control-arrow:before {
    background-image: url(../public/images/next.svg);
    height: 31px;
    width: 49px;
    z-index: 99999;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

@media screen and (min-width: 1020px) {
  .home-carousal .carousel .control-prev.control-arrow:before {
    background-image: url(../public/images/next.svg);
    height: 31px;
    width: 49px;
    z-index: 99999;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

.inputdesign #file-upload-button {
  padding: 10px;
}

.password_btn_hide {
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}
